.register{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), 
    url("https://c0.wallpaperflare.com/preview/846/493/250/simple-banner-website-background-paperclip.jpg");
    background-size: cover;
}

.registerTitle{
    font-size: 50px;
}

.registerForm{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
    width: 40vh;
}

.registerForm > label{
    font-size: 20px;
    margin: 10px 0;
}

.registerForm > input{
    height: 30px;
    border: none;
    padding: 10px;
    background-color: white;
}

.registerSubmit{
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: teal;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.registerLoginButton{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: lightcoral;
    color: white;
    font-size: 15px;
    cursor: pointer;
    position: absolute;
    top: 60px;
    right: 20px;
}